<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NineSquares</title>

</head>
<body>
<!--<input type="button" value="开始" onclick="f()">-->
<table border="1">
    <!--按钮的建立-->
    <tr>
        <th><input type="button" value=" "  id="stamp1" style="width: 25px;height: 25px" onclick="myFunction(0)"></th>
        <!--<input type="button" value=""  id="stamp2">-->
        <!--<input type="button" value=""  id="stamp3">-->
        <th><input type="button" value=" "  id="stamp2" style="width: 25px;height: 25px" onclick="myFunction(1)"></th>
        <th><input type="button" value=" "  id="stamp3" style="width: 25px;height: 25px" onclick="myFunction(2)"></th>
    </tr>
    <tr>
        <th><input type="button" value=" "  id="stamp4" style="width: 25px;height: 25px" onclick="myFunction(3)"></th>
        <!--<input type="button" value=""  id="stamp2">-->
        <!--<input type="button" value=""  id="stamp3">-->
        <th><input type="button" value=" "  id="stamp5" style="width: 25px;height: 25px" onclick="myFunction(4)"></th>
        <th><input type="button" value=" "  id="stamp6" style="width: 25px;height: 25px" onclick="myFunction(5)"></th>
    </tr>
    <tr>
        <th><input type="button" value=" "  id="stamp7" style="width: 25px;height: 25px" onclick="myFunction(6)"></th>
        <!--<input type="button" value=""  id="stamp2">-->
        <!--<input type="button" value=""  id="stamp3">-->
        <th><input type="button" value=" "  id="stamp8" style="width: 25px;height: 25px" onclick="myFunction(7)"></th>
        <th><input type="button" value=" "  id="stamp9" style="width: 25px;height: 25px" onclick="myFunction(8)"></th>
    </tr>
</table>
<input type="button" value="restart"  id="stamp10" style="text-align:center; width: 50px;height: 19px" onclick="window.location.reload()">
<!--退出按钮-->
<input type="button" value="Exit"  id="stamp11" style="text-align:center; width: 42px;height: 19px" onClick="custom_close()">



<script src="jQuery.js"></script>
<!--<script src="Axios.js"></script>-->
<script src="main.js"></script>

</body>
</html>